@import 'reset';

body{
	font-family: 'Open Sans', sans-serif;
}

.splash{
	background: url(../img/heading.jpg) center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;

	.splash-content{
		vertical-align: center;
	}

}